body{
    background-image: url(https://wallpapercave.com/wp/wp7312607.jpg);
}

div{ width: 500px;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(255, 255, 255, 0.863);
}